.App {
  /* text-align: center; */
}

.App-logo {
  margin-top: 10vmin;
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 10px;
}

a {
  color: #61dafb;
}

.App .article {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 150px;
  overflow: auto;
  margin-top: 10px;
  padding-top: 6px;
  width: 100%;
}

.App .error {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 150px;
  overflow: auto;
  margin-top: 10px;
  padding-top: 6px;
  width: 100%;
  text-align: center;
  color: #e00000;
}

.loader {
  width: 20px;
  height: 12px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: #FFF;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.6s 0.3s ease infinite alternate;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 110%;
  animation: animloader  0.6s ease infinite alternate;
}
.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
